footer{
    padding: 12px 0;
    background:#fff;
    margin-top: 900px;
    margin-bottom: -10%;
}
.foot{
    margin-left: 250px;
}
.foot i{
    margin-top: 5px;
    color: #222;
    margin-left: 10px;
    margin-bottom:px;
}